body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.introduction{
    display: flex;
    margin-bottom: 95px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.name{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.first-para{
    width: 95%;
    text-align: justify;
}
.hire-me{
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(orange, tomato);  
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.dream{
    display: flex;
    margin-bottom: 95px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
h2{
    font-size: 30px;
}
.dl-resume{
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(orange, tomato);  
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.dream-para{
    width: 80%;
    text-align: justify;
}
